@model IEnumerable<Stickies.Models.ScreenSticky>

@{
    ViewData["Title"] = "Board";
}

<h1>Board?????</h1>

<form action="/Stickies/Create" method="POST">
    <input id="Text" name="Text" />
    <button type="submit">Add it!</button>
</form>

<div id="container">
    @foreach (var sticky in Model) {
        <div>@sticky.Text</div>
    }
</div>
